*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(37, 36, 36);
    font-size: 14px;
    line-height: 1.3;
    margin: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.wow{
    display: flex;
    width: 200px;
    height: 200px;
    justify-content: center;
    margin: 0 auto;
    border: 10px solid rgba(255, 0, 0, 0.09);
    border-radius: 30px;
    -webkit-box-shadow: -3px -2px 100px 30px rgba(255, 0, 0, 0.49) inset;
    -moz-box-shadow: -3px -2px 100px 30px rgba(255, 0, 0, 0.49) inset;
    box-shadow: -3px -2px 100px 30px rgba(255, 0, 0, 0.49) inset;
}
.open{
    display: block;
    display: flex;
    align-items: center;
    color: rgb(255, 0, 0);
    text-align: center;
}